<h3>{{ testService.name }}</h3>
<router-outlet></router-outlet>

<mat-form-field>
  <mat-label>Chọn ngôn ngữ</mat-label>
  <mat-select
    [(ngModel)]="currentLang"
    (ngModelChange)="handleChangeLang($event)"
  >
    @for (lang of langs; track $index) {
    <mat-option [value]="lang">{{ lang }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<nav>
  <ul>
    <li routerLink="form-array" routerLinkActive="active">Form array</li>
    <li routerLink="files" routerLinkActive="active">files</li>
    <li routerLink="cart" routerLinkActive="active">cart</li>
    <li routerLink="defer" routerLinkActive="active">defer</li>
    <li routerLink="post" routerLinkActive="active">post</li>
  </ul>
</nav>
<button (click)="handleNavigate()">navigate</button>
<form [formGroup]="testFormControl" autocomplete="off">
  <app-form-control
    [errorsMessage]="{
      required: 'INPUT.ERRORS.REQUIRED_NAME',
      score: 'INPUT.ERRORS.SCORE'
    }"
    [priority]="['minlength', 'score']"
  >
    <input type="text" placeholder="name" formControlName="name" #control />
  </app-form-control>
  <app-form-control
    [showErrorOnBlur]="false"
    [errorsMessage]="{
      score: 'INPUT.ERRORS.SCORE'
    }"
  >
    <input type="text" placeholder="email" formControlName="email" #control />
  </app-form-control>
</form>

<div>pristine: {{ someForm.pristine | json }}</div>
<div>invalid: {{ someForm.invalid | json }}</div>
<div>touch: {{ someForm.touched | json }}</div>
<div>dirty: {{ someForm.dirty | json }}</div>
<div>errors: {{ someForm.errors | json }}</div>
<form [formGroup]="someForm" (ngSubmit)="handleSubmitForm()">
  <br />
  <div class="info">
    <h3>infor</h3>
    <div class="form-group">
      <input type="text" placeholder="name" formControlName="name" />
      <div
        class="show-err-mgs"
        *ngIf="
          someForm.get('name')?.invalid &&
          (someForm.get('name')?.touched || someForm.get('name')?.dirty)
        "
      >
        errors
      </div>
    </div>
    <div class="form-group">
      <input type="text" placeholder="age" formControlName="age" />
      <div
        class="show-err-mgs"
        *ngIf="
          someForm.get('age')?.invalid &&
          (someForm.get('age')?.touched || someForm.get('age')?.dirty)
        "
      >
        errors
      </div>
    </div>
  </div>
  <br />
  <div class="address">
    <h3>address</h3>
    <div formGroupName="address">
      <div class="form-group">
        <input type="text" placeholder="code" formControlName="code" />
        <div
          class="show-err-mgs"
          *ngIf="
            someForm.get('address.code')?.invalid &&
            (someForm.get('address.code')?.touched ||
              someForm.get('address.code')?.dirty)
          "
        >
          errors
        </div>
      </div>
    </div>
  </div>

  <div formArrayName="cart">
    <h3>cart</h3>
    @for (item of cartControls; let index = $index ; track index) {
    <div [formGroupName]="index">
      <div class="form-group">
        <input
          type="text"
          placeholder="productId"
          formControlName="productId"
        />
        <div
          class="show-err-mgs"
          *ngIf="
            cartControls.at(index)?.get('productId')?.invalid &&
            (cartControls.at(index)?.get('productId')?.touched ||
              cartControls.at(index)?.get('productId')?.dirty)
          "
        >
          errors
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          placeholder="productName"
          formControlName="productName"
        />
        <div
          class="show-err-mgs"
          *ngIf="
            cartControls.at(index)?.get('productName')?.invalid &&
            (cartControls.at(index)?.get('productName')?.touched ||
              cartControls.at(index)?.get('productName')?.dirty)
          "
        >
          errors
        </div>
      </div>
    </div>
    } @empty { }
  </div>

  <button>submit</button>
</form>

<div style="display: flex; gap: 4px; margin-top: 8px">
  <button (click)="handleClearValidator()">clear validators</button>
  <button (click)="handleAddValidator()">add validators</button>
  <button (click)="handleResetForm()">reset form</button>
  <button (click)="handleClearErrors()">clear errors</button>
  <button (click)="handleMarkAsPristine()">markAsPristine</button>
  <button (click)="handleMixinFormStatus()">mixin</button>
</div>
