.form-group {
  margin: 12px 0;
}

.show-err-mgs {
  margin: 4px 0;
  color: rgba(216, 78, 28, 0.815);
  font-size: 13px;
}

.header {
  height: 40px;
  background-color: aliceblue;
  color: #333;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

nav {
  ul {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 60px;
    background-color: aliceblue;
    padding: 0 20px;

    li {
      list-style: none;
      cursor: pointer;
    }
  }
}

.active {
  font-weight: bold;
}
