<h2>hello world</h2>

<div>pristine: {{ someForm.pristine | json }}</div>
<div>invalid: {{ someForm.invalid | json }}</div>
<div>touch: {{ someForm.touched | json }}</div>
<div>dirty: {{ someForm.dirty | json }}</div>
<div>errors: {{ someForm.errors | json }}</div>
<form [formGroup]="someForm" (ngSubmit)="handleSubmitForm()">
  <br />
  <div class="info">
    <h3>infor</h3>
    <div class="form-group">
      <input type="text" placeholder="name" formControlName="name" />
    </div>
    <div class="form-group">
      <input type="text" placeholder="age" formControlName="age" />
    </div>
  </div>
  <br />
  <div class="address">
    <h3>address</h3>
    <div formGroupName="address">
      <div class="form-group">
        <input type="text" placeholder="code" formControlName="code" />
      </div>
    </div>
  </div>

  <div formArrayName="cart">
    @for (item of cartControls; let index = $index ; track index) {
    <div [formGroupName]="index">
      <div class="form-group">
        <input
          type="text"
          placeholder="productId"
          formControlName="productId"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          placeholder="productName"
          formControlName="productName"
        />
      </div>
    </div>
    } @empty { }
  </div>

  <button>submit</button>
</form>
